/*** Typography ***/


/* icons */
.fa-2 {
    font-size:18px;
}
.fa-3 {
    font-size:24px;
}
.fa-4 {
    font-size:27px;
}
.fa-5 {
    font-size:35px;
}
.fa-6 {
    font-size:40px;
}
.fa-7 {
    font-size:45px;
}
.fa-8 {
    font-size:50px;
}
.fa-9 {
    font-size:60px;
}
.fa-10 {
    font-size:70px;
}